{#
/**
 * @file
 * Two column template for the gift add/edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-gift-form clearfix">
  <div class="layout-region layout-region-gift-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-gift-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-gift-footer">
    {{ form.actions }}
  </div>
</div>
